DB_HOST=your_db_host
DB_USER=your_db_user
DB_PASSWORD=your_password
DB_PORT=5432
DB_DATABASE=your_database
DB_DIALECT=postgres
DB_SCHEMA=windows_sale

SERVER_PORT=3000
JWT_SECRET=SECRET_WORD


# этой мой 
'''DB_DATABASE=DB_Zakovits
DB_USER=ilzako
DB_PASSWORD=t231818
DB_HOST=dev.vk.edu.ee
DB_PORT=5432
DB_SCHEMA=windows_sale
DB_DIALECT=postgres

SERVER_PORT=3000

JWT_SECRET=SECRET_WORD
'''
